/* Colores del icono que ponemos usar en la web 
    Azul de la llave --> #1895AB
    Verde de la casa --> #419A1C

*/
/* ***********estilo_base*************** */

body {
  position: relative;
  min-height: 100vh;
  /* padding-bottom: 140px; */
}

.diplay-flex{
    display: flex;
}

.align-center{
    text-align: center;
}

.align-item-center{
    align-items: center;
}

.align-l{
    text-align: left;
}

.align-r{
    text-align: right;
}

a.username{
    color: #419A1C;
    font-size: 20px;
}


.centrado {
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    /* Requiere que el padre use la clase align-center */
}

.izquierda {
    text-align: left;
    vertical-align: baseline;
    font-family: Arial, Helvetica, sans-serif;

    
}

/* 
*
*   How to keep the footer where it belongs
*   https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/


#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
}
  
#content-wrap {
    padding-bottom: 140px;    /* Footer height + extra padding */
    flex-grow: 1;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:140px;           /* Footer height */
    background-image: url("../img/bg_footer_index.jpg");
 
    /* margin:-100px auto 10; */
    background-size: contain;
}

/* #contenedor{
    margin-bottom: 20%;
} */

.px-5 {
    padding: 5em;
}

.pl-10e{
    padding-left: 10em;
}

.pl-20p{
    padding-left: 20%;
}

.pr-20p{
    padding-right: 20%;
}

.pt-5e{
    padding-top: 5em;
}

.pt-2e{
    padding-top: 2em;
}


.pr-5p{
    padding-right: 5px;
}

.pr-10p{
    padding-right: 10px;
}

label.mt-2{
    margin-top: 2em;
}

.mb-10{
    margin-bottom: 10em;
}


.float-r{
    float: right;
}

.float-l{
    float: left;
}

.clear-btn{
    all:unset;
    cursor: pointer;
}




.left-align{
    text-align: left;
}


/* w-100 px-10-20 mx-8 inline default-input */

.w-100{
    width: 100%;
}

.px-10-20{
    padding: 10px 20px;
}

.mx-8-0{
    margin: 8px 0;
}

.inline{
    display: inline-block;
}

.default-input{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/* input[type=text], input[type=email], select {

    width: 100%;
    font-size: 17px;
    font-family: Raleway;

    padding: 10px 20px;
    margin: 8px 0;
  
    
}

input[type=password], select {
   
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */
  
input[type=submit] {
    /* width: 100%; */
    background-color: #4CAF50;

    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
  
div.main-login{
    width: 350px;
    box-sizing: border-box;
    padding: 25px;
    border:1px solid rgb(179, 179, 179);
    border-radius: 4px;
}

/* footer {
    position: relative;
    clear:both;
    margin-top: 10em;
    bottom: 0;
    width: 100%;
    height:140px;            
    background-image: url("../img/bg_footer_index.jpg");
    background-size: contain;
  
} */

.index-banner{
    width:100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    padding-top: 20px;
}

#sidebarIzq {
	float: left;
	width: 170px;
	height: 400px;
	background-color: #dddddd;
}

.separador{
    height: 7em;
}





/* ***********estilo_menu*************** */



/* Menú principal */

.menu_principal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(184, 184, 184);
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

#logo_menu{
    margin: 1em;
    width: 55%;
}

.user_icon{
    width: 2em;
    border-radius: 50%;
    padding: 4px;
    border: 3px solid rgb(50, 50, 50);
}

#perfil_menu{
    float: right;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* height: 8em; */
    margin-right: 1em;
}


li.desplegable_item{
    line-height: 50px;
}

  


/* **************dropdown**************** */
.dropdown {
    position: relative;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-radius: 4px;
    text-align: left;
  }
  
  .dropdown > a,
  .dropdown > span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 15px 25px 15px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropdown > a:before,
  .dropdown > span:before {
    position: absolute;
    right: 20px;
    top: 25px;
    content: " ";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    cursor: none;
  }
  
  .dropdown input[type="checkbox"] {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    opacity: 0;
    cursor: pointer;
  }
  
  .dropdown input[type="checkbox"]:checked {
    position: fixed;
    z-index: +0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .dropdown .bloque_desplegable {
    width: 200%;
  }
  .dropdown ul {
    text-align: left;
    right: 0;
    position: absolute;
    top: 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    list-style: none;
    padding: 4px 0px;
    display: none;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
    width: 220px;
  }
  
  .dropdown input[type="checkbox"]:checked + ul {
    display: block;
  }
  
  .dropdown ul li {
    display: block;
    padding: 6px 20px;
    white-space: nowrap;
    min-width: 100px;
  }
  
  .dropdown ul li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  .dropdown ul li a {
    text-decoration: none;
    display: block;
    color: black;
  }
  .dropdown .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    font-size: 1px;
    padding: 0;
  }
.dropdown:hover {
    background-position: right center;
}


.formulario{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.formulario>input{
    font-size: 14px;
}

.text-danger{
    color:red;
}

img.invert-color{
    filter: invert(100%);
}

.w-20-h-20{
    width: 20px;
    height: 20px;
}

.button{
    border-radius: 20%;
    padding: 0.9em 0.9em 0.5em 0.9em;
    color: white;
    font-size: 17px;

}

div.edit-btn-bg{
    background-color: #419A1C;
    display: inline-block;
    border-radius: 20%;
}

div.del-btn-bg{
    background-color: #ff0000;
    display: inline-block;
    border-radius: 20%;

}


/* Cards */

.clear-style{
    list-style-type: none;
}

.cursor-pointer{
    cursor: pointer;
}

.clear-text-deco{
    text-decoration: none;
}


ul.detalles > li{
    padding: 1em;
    font-size: 1.2em;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    text-decoration: none;
    cursor: pointer;

  
    /* border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-bottom-left-radius: 35%; */
}

ul.detalles li.active{
    background-color: #a2a2a2;
}

ul.detalles > li:hover{
    background-color: #1095B8;
    color: white;
}


.flex-container {
    display: flex;
    background-color: DodgerBlue;
}

.card{
    padding: 20px;
    margin-block: 20px;
    border:1px solid rgb(151, 151, 151);
    border-radius: 10px;
    width: 60%;
}

.card .card-header{
    font-size: 25px;
    display: inline-block;
    /* font-family: 'Roboto'; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    
    color: #1095B8;
    text-align: left;
    border-bottom: 1px solid rgb(169, 169, 169);
    width: 100%;
    /* margin-bottom: 1em; */
    padding-bottom: 0.5em;
}

.card .card-body{
    padding-top: 0.7em;
}



.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-45{
    width: 45%;
}

.px-5{
    padding: 5px;
}

.px-10{
    padding: 10px;
}

ul li.desplegable_item:after {
    content: "";
    display: block;
    height: 1px;
    width: 10%;
    background: rgb(42, 175, 24);
}


.inline-block form{
    display: inline-block;
}


.inline-block li{
    display: inline-block;
}

.va-middle{
    vertical-align: middle;
} 

.h-100{
    height: 100%;
}

.clear-pm{
    padding: 0%;
    margin: 0%;
}

.w-10e{
    width: 10em;
}



/* w-45 px-10-20 mx-8-0 inline default-input */
div.registro-piso input{
    width: 80%;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 200px;
    font-size: 1em;
}

#btn-registro-piso{
    width: 20%;
    /* min-width: 70px; */
    float: right;
    font-size: 1.2em;
    color: white;
    
}



.block > *{
    display: block;
}

.flex{
    display: flex;
}

.flex-registro-piso{
    display: flex;
    flex-direction: row;
}




.flex-2col-item{
    flex: 50%;
    min-width: 200px;
}

.flex-5col-item{
    width: 20%;
    min-width: 100px;
}

div.registro-piso div input.num{
    display: block;
    width: 20%;
    min-width: 100px;
    font-size: 1em;
}

.polaroid{
    width:40%;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

.container-texto {
    text-align: center;
    padding: 10px 20px;
}



/* https://moderncss.dev/pure-css-custom-checkbox-style/ */

.visually-hidden{
    /* -webkit-appearance: none;
    appearance: none;
    margin: 0;
    border: 0; */
    opacity: 0;
    display: none !important;
} 

.no-min-width{
    min-width: none;
}


/* https://stackoverflow.com/questions/5275857/highlight-label-if-checkbox-is-checked */
.checkbox-servicios:checked + .label-servicios{
    background: #A5D6A7;
}


.radiobtn-mascota:checked + .label-mascota{
    background: #A5D6A7;
}


.label-servicios , .label-mascota{
    box-shadow: 0 0 0 2px #535353;
    padding: 0.5rem 1rem;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 0.5rem;
}

.mx-1e{
    margin: 1em;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.flex-dir-col{
    flex-direction: column;
}

.max-w-100{
    max-width: 100%;
}

.min-w-50{
    min-width: 50%;
}

.h-150{
   height: 150px;
}

.mr-auto{
    margin-right: auto;
}

/* https://css-tricks.com/almanac/properties/f/flex-wrap/ */
.wrap{ 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 

.flex-container-servicios{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.mt-50{
    margin-top: 50px;
}

.mt-40{
    margin-top: 40px;
}

.overflow-auto{
    overflow: auto;
}






/* Registration wizard */
.marg > * {
    margin: 10px;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}


h1, h2, h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

#prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #04AA6D;
}

form{
    border: #525252;
    border-radius: 5%;
}

.text-danger{
    color: red;
}

.st-input > input{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.separador-h-50{
    height: 50px;
    clear: both;
}

.h-20{
    height: 20px;
}





.access-denied-body{
    /* https://codepen.io/Mansoour/pen/LgGGvm */
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%236ba184' fill-opacity='0.21'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.access-denied{
    font-size: 45px;
    color: red;
}

h3.access-denied{
    font-size: 20px;
}




  /* Grids */

.grid-container{
    display: grid;
    /* grid-template-areas: 'fpiso rooms rooms more'
  						    'fpiso precio . .'
                            '. . . btns'; */
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2px;
    padding: 5px;
    /* background-color: #2196F3; Solo está para visualizar el grid*/
    width: 100%;
    column-gap: 20px;
 
}

.more{
    grid-area: 1 / 5;
}

.fpiso{
    grid-area: 1 / 1 / 3 / 1;
}

.rooms{
    grid-area: 1 / 2 / 1 / 4;
}

.gap{
    grid-area: gap;
}

.btns{
    grid-area: 3 / 4 / 3 / 5;
    justify-content: end;
}

.precio{
    font-family: 'Crimson Pro', serif;
    font-size: 2em;
    grid-area: 2 / 2 / 2 / 4;

}

/* .fpiso{
    grid-area: fpiso;
}

.rooms{
    grid-area: rooms;
}

.gap{
    grid-area: gap;
}

.btns{
    grid-area: btns;
} */












@media screen and (max-width: 800px) {
    div.registro-piso input{
        width: 100%;
        
        margin: 20px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .flex-registro-piso{
        display: flex;
        flex-direction: column;
    }


    .flex-2col-item{
        width: 100%;
    }

    #btn-registro-piso{
        width: 100%;
        min-width: 30px;
    }

   
}